.ProductDetails {
    background-color: rgba(251, 253, 254, 0.913);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 6vmax;
    box-sizing: border-box;
    display: flex;
}

.productImage {
    margin: 50px auto;
    max-width: 300px;
    min-width: 200px;
    height: auto;
}

.ProductDetails>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid white;
}

.ProductDetails>div:first-child {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.409);
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.ProductDetails>div:first-child:hover {
    transform: translateY(-20px);
    transition: transform 0.5s ease;

}


.ProductDetails>div:last-child {
    align-items: flex-start;
    padding-left: 100px;
}

.CarouselImage {
    width: 100%;
    height: auto;
}

.firstSegment>h2 {
    color: rgb(54, 54, 54);
    font: bolder 2vmax cursive;
}

.firstSegment>p {
    padding-top: 10px;
    color: rgba(54, 54, 54, 0.582);
    font: bolder 1vmax "Roboto" ;
}

.secondSegment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 70%;
    padding: 1vmax 0;
}

.secondSegment-span {
    font: 200 0.8vmax cursive;
    color: rgba(0, 0, 0, 0.699);
}

.thirdSegment {
    width: 70%;
}

.thirdSegment>h1 {
    color: rgba(17, 17, 17, 0.795);
    font: 400 1.8vmax "Franklin Gothic Medium";
    margin: 1vmax 0;
}
.thirdSegment-1 {
    display: flex;
    align-items: center;
}

.thirdSegment-1-1>button {
    border: none;
    background-color: rgba(15, 5, 48, 0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.thirdSegment-1-1>button:hover {
    background-color: rgba(15, 2, 34, 0.813);
}

.thirdSegment-1-1>input {
    border: none;
    padding-left: 1vmax;
    width: 2vmax;
    text-align: center;
    outline: none;
    font: 400 0.8vmax "Roboto";
    color: rgba(0, 0, 0, 0.74);
}

.thirdSegment-1>button:last-child {
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: rgb(14, 146, 207);
    font: 500 1vmax "Roboto";
    border-radius: none;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;
}

.thirdSegment-1>button:last-child:hover {
    background-color: rgb(11, 85, 119);
}

.thirdSegment>p {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    color: rgba(0, 0, 0, 0.651);
    font: 400 1vmax "Roboto";
    margin: 1vmax 0;
    font-size: 1.3vmax;
}
.thirdSegment>p >b {
    padding:5px;
}

.fourthSegment-4 {
    color: rgba(0, 0, 0, 0.897);
    font: 500 1.2vmax sans-serif;
}

.fourthSegment-4>p {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.534);
    font: 300 0.8vmax sans-serif;
}

.submitReview {
    border: none;
    background-color: rgb(14, 146, 207);
    font: 500 1vmax "Roboto";
    padding: 0.6vmax 2vmax;
    margin: 1vmax 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.submitReview:hover {
    background-color: rgb(11, 85, 119);
}

.submitDialog {
    display: flex;
    flex-direction: column;
}

.submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font: 300 1rem "Roboto";
}

.reviewsHeading {
    color: #000000be;
    font: 500 1.4vmax "Roboto";
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}

.reviews {
    display: flex;
    overflow: auto;
}

.reviewCard {
    flex: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.409);
    border: 1px solid rgba(56, 56, 56, 0.116);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vmax;
    padding: 3vmax;
    transition: transform 0.5s ease;
}
.reviewCard:hover {
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}

.reviewCard>p {
    color: rgba(0, 0, 0, 0.836);
    font: 600 0.9vmax "Roboto";
}

.reviewCardComment {
    color: rgba(0, 0, 0, 0.445);
    font: 300 0.8vmax cursive;
}

.noReviews {
    font: bolder 2vmax "Gill Sans";
    text-align: center;
    color: rgba(0, 0, 0, 0.548);
    padding: 30px;
}

.redColor {
    color: red;
}

.greenColor {
    color: green;
}

@media screen and (max-width: 880px) {
    .ProductDetails {
        flex-direction: column;
        height: unset;
    }

    .ProductDetails>div:last-child {
        align-items: center;
        padding-left: 0px;
    }

    .firstSegment>h2 {
        padding: 25px 10px 10px 10px;
        font-size: 2.8vmax;
        text-align: center;
    }

    .firstSegment>p {
        padding:0 0 5px 0;
        text-align: center;
        font-size: 2vmax;
    }

    .secondSegment {
        justify-content: center;
    }

    .secondSegment>span {
        font-size: 1.5vmax;
    }

    .thirdSegment>h1 {
        font: bolder 3.5vmax "Franklin Gothic Medium";
        text-align: center;
    }

    .thirdSegment-1 {
        flex-direction: column;
    }

    .thirdSegment-1-1 {
        padding: 2vmax 0;
    }

    .thirdSegment-1-1>button {
        padding: 1.2vmax;
        width: 4vmax;
    }

    .thirdSegment-1-1>input {
        padding: 1.5vmax;
        width: 3vmax;
        font: 400 1.8vmax "Roboto";
    }

    .thirdSegment-1>button:last-child {
        font: 500 1.7vmax "Roboto";
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }

    .thirdSegment>p {
        padding: 2.5vmax 0;
        text-align: center;
        font: 400 2vmax "Roboto";
    }

    .fourthSegment-4 {
        font: 500 2.5vmax sans-serif;
    }

    .fourthSegment-4>p {
        font: 300 1.8vmax sans-serif;
    }

    .submitReview {
        font: 500 1.7vmax "Roboto";
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }

    .reviewCard>p {
        font: 600 2.2vw "Roboto";
    }

    .reviewCardComment {
        font: 300 1.8vmax cursive;
    }
}